<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Base64 Encode & Decode</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <script src="js/jquery-2.0.0.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/uu.js"></script>
    <script src="js/controller.js"></script>
</head>
<body style="width:750px;height: 1200px" class="container" ng-controller="ED">
<!--<div class="col-xs-12">-->
    <!--<b>Input value to Encode or Decode:</b>-->
    <!--<textarea id="Source" rows="7" class="form-control" ng-model="code" style="resize: none;"></textarea>-->
<!--</div>-->
<!--<div class="col-xs-12">{{edoc}}</div>-->

<div class="col-xs-12 navbar-fixed-top" style="text-align:center;">
    <!--<button class="btn btn-warning" ng-click="base64encode()">Base64 Encode</button>-->
    <!--<button class="btn btn-danger" ng-click="base64decode()">Base64 Decode</button>-->
    <button class="btn btn-warning " ng-click="json()">麻辣烫</button>{{i}}
</div>
<div id="top" class="col-xs-12" style="padding: 50px">
    <table class="table">
        <tr>
            <td>user_id</td>
            <td>img</td>
            <td>content</td>
        </tr>
        <tr ng-repeat="e in edoc">
            <td><a ng-href="{{e.user_id}}"><img ng-src="{{e.im}}" class="img-circle" style="width: 60px"/></a><br/>{{e.user}}</td>
            <td><img ng-src="{{e.img}}" class="img-rounded" style="width: 250px"/></td>
            <td>{{e.content}}</td>
        </tr>
    </table>
</div>
</body>
</html>
